<nav class="navbar" style="background-color: #F8F9FA; border-bottom: 1px solid #E9ECEF;">
  <div class="container">
    <%= link_to "Techpit Clothes", root_path, class: "navbar-brand", style: "color: #212529;" %>
    <%= link_to carts_path(@cart), style: "color: #212529;" do %>
      <i class="fas fa-shopping-cart"></i>
    <% end %>
  </div>
</nav>
